.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.password-inputbox {
  width: 50%;
  display: inline-block;
  margin-top: 5%;
}

.password-meter {
  border:solid 1px black
}

.danger {
  background-color : red;
  position: relative;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all .5s linear;
  left: 0;
}

.success {
  background-color : green;
  position: relative;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all .5s linear;
  left: 0;
}

.meter-height {
  height : 50px
}

.valid {
  color : green;
}

.invalid {
  color : red;
}
.show-password {
  margin-left: 2%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
